@use "../../sass/" as *;
@use "sass:map";

.overlay {
  position: absolute;
  top: 0;
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 667px;

  & > .cart {
    background: #fff;
    width: 21.3125rem;
    margin: 0 auto;
    border-radius: 3px;
    margin-top: 3.8rem;
    padding: 1.5rem 1rem;

    &::before {
      content: "";
      background: #fff;
      width: 1.375rem;
      height: 1.375rem;
      border-radius: 2px;
      transform: rotate(45deg);
      position: absolute;
      top: 3.5rem;
      right: 1.8rem;
    }

    & > h1 {
      font-size: 2rem;
      text-align: center;
      font-weight: bold;
    }

    & > .cart-items {
      @include flex($direction: column, $gap: 1rem);
      margin: 1rem 0;
    }
  }
}
