@use "../../sass/" as *;
@use "sass:map";

.menu-item {
  @include flex($align: center, $gap: 1rem);

  & .add-item {
    background: map.get($theme-colors, "brown");
    border-radius: 100%;
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    @include center-div;
  }

  & > .item-info {
    width: 100%;

    & > .top-row {
      @include flex($gap: 0.2rem);
      font-family: "PT Serif", sans-serif;
      font-size: 1.3375rem;
      font-weight: bold;

      & > .dots {
        flex: 1;
        background: url(../../assets/line.png) repeat-x;
        background-position: 0 1.3rem;
      }
    }

    & > .bottom-row {
      font-size: 0.75rem;
    }
  }
}
