@use "../../sass/" as *;
@use "sass:map";

.header {
  position: relative;
  background: url(../../assets/header.png) no-repeat;
  height: 7.0625rem;

  & .menu-icon,
  & .cart-icon {
    width: 3rem;
    height: 3rem;
    border-radius: 100%;
    @include center-div;
  }

  & > header {
    padding: 1rem;
    @include flex($justify: space-between, $align: flex-start);

    & > .menu-icon {
      background: #fff;
    }

    & > .cart-icon {
      background: #2f2926;
    }
  }
}
