@use "../../sass/" as *;
@use "sass:map";

.mobile-menu {
  background: map.get($theme-colors, "brown");
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  padding: 1rem;

  & > .menu-icon {
    background: #fff;
    width: 3rem;
    height: 3rem;
    border-radius: 100%;
    cursor: pointer;
    @include center-div;
  }

  & > nav {
    font-family: "PT Serif", serif;
    font-size: 2rem;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    height: 37.3125rem;
    @include flex($direction: column, $justify: center, $gap: 4rem);

    & > a {
      color: #fff;
      text-decoration: none;
      position: relative;
    }

    & > a:not(:last-child)::after {
      content: "";
      width: 3rem;
      height: 1px;
      background: #ffffff20;
      position: absolute;
      bottom: -2rem;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}
